{% extends "layout.html" %}
{% block content%}

<div class='pl-5'  id="work_history">
	<h2>Advantage Solutions</h2>
	<h3>Brand Sales Manager: June 2017 - Present</h3>
	<ul>
		<li>Manage brands for clients by helping to increase their market share through gains in distribution and facilitation of promotion execution</li>
		<li>Facilitate sales calls to represent the brand to retailers and create a positive outcome for all parties involved</li>
		<li>Provide proprietary system support for clients by submitting and maintaining promotions.</li>
		<li>Plan, execute, and adjust promotions year-round to help drive sales for the brand</li>
	</ul>
	<h2>S&G Carpet</h2>
	<h3>Sales Consultant: September 2014 - October 2017</h3>
	<ul>
		<li>Greet the customer and ask qualifying questions to understand customer needs</li>
		<li>Make suggestions based on customer’s needs and work with customer feedback</li>
		<li>Negotiate terms & Close the Sale</li>
		<li>After installation, follow up with customer </li>
	</ul>
	<h2>Holding Ranch</h2>
	<h3>Assistant Manager: October 2013 - Sept 2014</h3>
	<ul>
		<li>Replenish and restock freezers</li>
		<li>Drive company truck to sales location</li>
		<li>Make suggestions based on customer needs & sell product</li>
		<li>Keep track of books for myself and employees for the day</li>
	</ul>
</div>

<hr></hr>

<div class='form-inline justify-content-center'  id="education_experience">
	<h1>Education</h1>
</div>

<div class='pl-5' id="education_history">
	<h2>Oregon State University: Spring 2019 - Present</h2>
	<h3>Bachelor of Science - Computer Science</h3>
	<ul>
		<li>Cumulative GPA 3.90</li>
	</ul>
	<h2>California State University East Bay: Winter 2015 - Fall 2017 </h2>
		<h3>Bachelor of Science - Business Administration</h3>
	<ul>
		<li>Cumulative GPA 3.62</li>
	</ul>
</div>

<hr></hr>

<div class= 'form-inline justify-content-center' id="skills_interests">
	<h1>Skills</h1>
</div>

<div class='pl-5' id="skills">
	<h3>Skills</h3>
	<ul>
		<li>Proficient in C++, Python, Flask, HTML, CSS, and Javascript</li>
		<li>Experience working with Agile, Azure Devops</li>
		<li>Microsoft office suite including Word, Excel, Powerpoint, Outlook, and Project</li>
		<li>Strategic planning, contract negotiation, account management, program development</li>
	</ul>

{% endblock content %}
