{% extends "layout.html" %}
{% block content%}

	<div class="content-section">
    <h1>Contact Information</h1>

        <div class = "mt-4" >
            <!-- Linked In-->
            <h2>LinkedIn - <a href = "https://www.linkedin.com/in/don-hurst-35499a138/"><h4>https://www.linkedin.com/in/don-hurst-35499a138</h4></a></h2>
        </div>

        <div class = "mt-4">
            <!-- Github-->
            <h2>Github - <a href = "https://github.com/hurstdon1"><h4>https://github.com/hurstdon1</h4></a></h2>
        </div>

        <div class = "mt-4">
            <!-- Email-->
            <h2>Email - <a href = "mailto: hurstdon1@gmail.com"><h4>HurstDon1@gmail.com</h4></a></h2>
        </div>
    
    </form>
    
    </div>
{% endblock content %}
