{% extends "layout.html" %}
{% block content%}

<div class='pl-5 pt-2'  id="XiangQi">
	<h1>Keyword Generator</h1>
</div>

<hr></hr>

<div class='pl-5' id='Keyword_Generator'>
	<p>The Keyword Generator Program was something I created as part of a group project for a software engineering course.
		The project uses a series of REST APIs to start with the name of a video game before ultimately delivering a word/image cloud of words associated with the game.
	</p>

	<p>My portion of the project does the following:</p>


<div class='pl-5'id=XiangQi_list>
	<ul>
		<li>Takes user input in the form of a text document</li>
		<li>This input can be sent via an api route or uploaded directly to the site via a dropzone</li>
		<li>The program then breaks apart the json data and extracts a list of keywords</li>
		<li>The program checks if each move will put the user in check or has put the opponent in checkmate</li>
	</ul>
</div>

<a href="https://github.com/hurstdon1/CS361"><h3>Check out the program on my github!</h3></a>
</div>

<div class='pl-5 pt-2'  id="XiangQi">
	<h1>XiangQi Game</h1>
</div>

<hr></hr>

<div class='pl-5' id=XiangQi_info>
	<p>The Xiangqi Game program is an implementation of an abstract board game.</p>

	<p>It has the following functionality</p>

<div class='pl-5'id=XiangQi_list>
	<ul>
		<li>Initializes a game board and fills it with unique pieces</li>
		<li>Allows the user to make moves by calling a function and passing in the starting/ending locations</li>
		<li>The program checks that the move is valid and if it is, implements the move</li>
		<li>The program checks if each move will put the user in check or has put the opponent in checkmate</li>
	</ul>
</div>

<a href="https://en.wikipedia.org/wiki/Xiangqi"><h3>You can learn about XiangQi here</h3></a>
<a href="https://github.com/hurstdon1/CS162"><h3>Check out the program on my github!</h3></a>
</div>

{% endblock content %}
